@import "common";

// ---------- Slider ----------
.slider-container {
  position: relative;

  .triangle-top {
    position: absolute;
    top     : 0;
    left    : 0;
    z-index : 10;
    @include triangle-reverse;
    border-color: $backgroundColor transparent transparent transparent;
  }

  .triangle-bottom {
    position: absolute;
    bottom  : 0;
    left    : -50px;
    z-index : 10;
    @include triangle;
    border-color: transparent transparent $backgroundColor transparent;
  }
}

.slider {
  position  : relative;
  margin-top: -20px;

  @at-root .swiper {
    width                     : 100%;
    height                    : 100%;
    transition-timing-function: ease-out;

    img {
      width : 100%;
      height: 30%;
    }

    .swiper-slide {
      text-align      : center;
      font-size       : 18px;
      background      : #fff;
      background-color: transparent;
    }

    .swiper-pagination {
      margin-bottom: 400px;

      .swiper-pagination-bullet {
        width : 15px;
        height: 15px;
        border: 8px solid #fff;
      }

      .swiper-pagination-bullet-active {
        background-color: $secondaryColor;
      }

    }

    .swiper-button-next,
    .swiper-button-prev {
      font-weight: 900;
      color      : #fff;
    }


  }

  @at-root .sec-slider {
    position     : absolute;
    top          : 50%;
    left         : 50%;
    z-index      : 1;
    width        : 50vw;
    border       : 5px solid #fff;
    border-radius: 10px;
    color        : #fff;
    transform    : translate(-50%, -50%);

    h4 {
      font-family: $fontKaushan;
    }
  }
}

// ---------- Article ----------
article {
  display        : flex;
  justify-content: center;
  padding-top    : 70px;

  @at-root .article-right {
    h2 {
      color: $primaryColor;

      font: {
        size  : 36px;
        weight: 900
      }
    }

    h4 {
      color: $secondaryColor;
      font : 30px $fontKaushan;
    }

    p {
      line-height: 40px;
      color      : $fontColor;
      font-size  : 20px;
    }

    button {
      @include btn;
    }
  }
}

// ---------- Main/Promotions ----------
main {
  .triangle {
    @include triangle;
  }

  @at-root .promotions-container {
    width           : 100%;
    background-color: $secondaryColor;

    .promo-top {

      .promo-titles {
        display    : flex;
        align-items: center;

        h1 {
          flex       : 1;
          color      : $primaryColor;
          font-weight: 900;
        }

        a {
          @include btn;
          width           : 200px;
          background-color: #fff;
          color           : $fontColor;
          text-align      : center;

          &:hover {
            background-color: $primaryColor;
            color           : #fff;
          }
        }
      }

      h4 {
        color: #fff;
        font : 30px $fontKaushan;
      }
    }

    @at-root .promo-items {
      margin-top: 20px;

      ul {
        display        : flex;
        justify-content: center;
        flex-wrap      : wrap;
        width          : 100%;
        margin         : 0;
        padding        : 0;

        li {
          position        : relative;
          width           : 30%;
          height          : 200px;
          margin          : 10px;
          border-radius   : 15px;
          background-color: #f2f3ed;

          a {
            display: flex;
            margin : 20px;

            .promo-img {

              img {
                width: 90%;
              }
            }

            @at-root .promo-product {
              width     : 70%;
              margin-top: -15px;

              h3 {
                color: $primaryColor;
              }

              p {
                color: $fontColor;
              }
            }
          }

          @mixin circle {
            position     : absolute;
            width        : 0;
            height       : 0;
            border       : 5px solid $secondaryColor;
            border-radius: 50%;
          }

          .circle-tr {
            @include circle;
            top  : 10px;
            right: 10px;
          }

          .circle-br {
            @include circle;
            bottom: 10px;
            right : 10px;
          }

          .circle-tl {
            @include circle;
            top : 10px;
            left: 10px;
          }

          .circle-bl {
            @include circle;
            bottom: 10px;
            left  : 10px;
          }

          @at-root .price-tag {
            position: absolute;
            bottom  : -60px;
            right   : -200px;

            .price {
              position   : absolute;
              top        : 30px;
              left       : 15px;
              color      : #fff;
              font-weight: 700;
              font-size  : 28px;
              transform  : rotate(-10deg);
            }

            img {
              width: 50%;
            }
          }
        }
      }
    }
  }

  .triangle-reverse {
    @include triangle-reverse;
  }
}

// ---------- Info ----------
.board {
  display: flex;

  h3 {
    color: $primaryColor;
  }

  h5 {
    color: $secondaryColor;
  }

  p {
    color: $fontColor;
  }

  ul {
    display: flex;
    padding: 0;

    li {
      flex   : 1;
      padding: 30px 0;
    }
  }

  .news {
    position: relative;
    flex    : 2;
  }

  .job {
    position: relative;
    flex    : 1;
  }


  button {
    @include btn;
    position: absolute;
    bottom  : -50px;
  }
}

@import "media";
