@font-face {
  font-family: 'Kaushan Script';
  src        : url(./fonts/kaushanscript-regular-webfont.woff);
}

$autoMargin: 0 auto;
$font      : Helvetica,
sans-serif;
$fontKaushan: 'Kaushan Script',
Helvetica;
$primaryColor    :#5b250b;
$secondaryColor  :#ef9310;
$fontColor       :#aaa497;
$backgroundColor :#f2f3ed;

@mixin btn {
  width           : 150px;
  height          : 50px;
  line-height     : 50px;
  border-radius   : 50px;
  border          : 0;
  background-color: $fontColor;
  color           : #fff;
  cursor          : pointer;

  &:active {
    transform: scale(.97);
  }

  &:hover {
    background-color: $secondaryColor;
  }
}

@mixin triangle {
  width       : 0;
  height      : 0;
  border-style: solid;
  border-width: 0 0 300px 2500px;
  border-color: transparent transparent $secondaryColor transparent;

}

@mixin triangle-reverse {
  width       : 0;
  height      : 0;
  border-style: solid;
  border-width: 300px 2500px 0 0;
  border-color: $secondaryColor transparent transparent transparent;
}

html,
body {
  overflow-x      : hidden;
  font-family     : $font;
  background-color: $backgroundColor;
}

.wrap {
  width : 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// ---------- Menu Btn ----------
.bar-container {
  z-index         : 100;
  position        : fixed;
  top             : 40px;
  width           : 60px;
  height          : 60px;
  margin-left     : 10%;
  border-radius   : 10px;
  background-color: #fff;
  cursor          : pointer;

  .bar {
    position : absolute;
    top      : 50%;
    left     : 50%;
    color    : $primaryColor;
    transform: translate(-50%, -50%);

    .bar1,
    .bar2,
    .bar3 {
      width           : 35px;
      height          : 5px;
      margin          : 3px 0;
      background-color: $primaryColor;
      transition      : .4s;
    }

    span {
      font-size: 14px;
    }

    &:hover {
      color: $secondaryColor;
    }

    &:hover .bar1,
    &:hover .bar2,
    &:hover .bar3 {
      background-color: $secondaryColor;
    }
  }
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

.body-container {
  transition: all .3s ease;
}

// ---------- Nav ----------
nav {
  position        : fixed;
  z-index         : 20;
  width           : 30%;
  height          : 100%;
  background-color: $primaryColor;
  transform       : translateX(-200%);
  transition      : all .3s ease;

  ul {
    margin: 300px 50px;

    li {
      margin-bottom: 100px;

      a {
        padding  : 50px;
        color    : #fff;
        font-size: 18px;

        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }
}

// ---------- Login ---------
.login-btn {
  position: absolute;
  top     : 45px;
  right   : 10%;
  width   : 50px;
  height  : 80px;
  cursor  : pointer;

  img {
    width : 45px;
    height: 45px;
  }

  h4 {
    margin: 0;
    color : $primaryColor;
  }
}


.login-container {
  display         : none;
  position        : fixed;
  top             : 30%;
  left            : 50%;
  z-index         : 300;
  width           : 380px;
  height          : 520px;
  margin          : 100px auto;
  border-radius   : 10px;
  background-color: $secondaryColor;
  text-align      : center;
  color           : #fff;
  transform       : translate(-50%, -50%);

  .close {
    position: absolute;
    top     : 10px;
    right   : 10px;
    width   : 50px;
    height  : 50px;
    cursor  : pointer;

    img {
      width: 100%;
    }
  }

  h1 {
    margin    : 0;
    padding   : 50px 0 0 0;
    text-align: center;
  }

  .form-control {
    position  : relative;
    text-align: center;

    input {
      width           : 80%;
      margin-top      : 25px;
      padding         : 10px 0;
      border          : 0;
      border-bottom   : 3px solid #fff;
      outline         : none;
      background-color: transparent;
      color           : #fff;
      font-size       : 24px;
    }

    label {
      position: absolute;
      top     : 40px;
      left    : 10%;

      span {
        display   : inline-block;
        transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }
  }

  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color    : $primaryColor;
    transform: translateY(-30px);
  }

  #login-btn {
    width        : 80%;
    height       : 50px;
    margin-top   : 25px;
    border       : 0;
    border-radius: 8px;
    color        : $primaryColor;
    font-size    : 20px;
    font-weight  : 700;

    &:active {
      transform: scale(.97);
    }
  }

  p {
    margin-top: 50px;

    a {
      padding        : 20px;
      text-decoration: none;
      color          : $primaryColor;

      &:hover {
        color: $backgroundColor;
      }
    }
  }

  h4 {
    font-size: 18px;
  }

  #facebook-btn {
    @include btn;
    display         : inline-block;
    background-color: #4267b2;

    &:hover {
      background-color: #4267b2;
    }

    img {
      vertical-align: middle;
      width         : 30px;
      height        : 30px;
      margin-top    : -5px;

    }
  }

  #google-btn {
    @include btn;
    display         : inline-block;
    background-color: #fff;
    color           : #000;

    &:hover {
      background-color: #fff;
    }

    img {
      vertical-align: middle;
      margin        : -5px 5px 0 0;
    }
  }
}

.mask {
  display         : none;
  position        : fixed;
  top             : 0;
  left            : 0;
  z-index         : 200;
  width           : 100%;
  height          : 100%;
  background-color: rgba(0, 0, 0, .7);
}

// ---------- logo ----------
header {
  .logo-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 200px;
    height         : 200px;
    margin         : $autoMargin;
    margin-top     : 70px;

    a {
      color     : $primaryColor;
      text-align: center;

      h5 {
        margin-top : -15px;
        color      : $fontColor;
        font-family: $fontKaushan;
      }

      img {
        display: block;
        width  : 65px;
        margin : $autoMargin;
      }
    }
  }
}

// ---------- Slider ----------
.slider-container {
  position: relative;

  .triangle-top {
    position: absolute;
    top     : 0;
    left    : 0;
    z-index : 10;
    @include triangle-reverse;
    border-color: $backgroundColor transparent transparent transparent;
  }

  .triangle-bottom {
    position: absolute;
    bottom  : 0;
    left    : -50px;
    z-index : 10;
    @include triangle;
    border-color: transparent transparent $backgroundColor transparent;
  }
}

.slider {
  position  : relative;
  margin-top: -20px;

  .swiper {
    width                     : 100%;
    height                    : 100%;
    transition-timing-function: ease-out;

    img {
      width : 100%;
      height: 30%;
    }

    .swiper-slide {
      text-align      : center;
      font-size       : 18px;
      background      : #fff;
      background-color: transparent;
    }

    .swiper-pagination {
      margin-bottom: 400px;

      .swiper-pagination-bullet {
        width : 15px;
        height: 15px;
        border: 8px solid #fff;
      }

      .swiper-pagination-bullet-active {
        background-color: $secondaryColor;
      }

    }

    .swiper-button-next,
    .swiper-button-prev {
      font-weight: 900;
      color      : #fff;
    }


  }

  .sec-slider {
    position     : absolute;
    top          : 50%;
    left         : 50%;
    z-index      : 1;
    width        : 50vw;
    border       : 5px solid #fff;
    border-radius: 10px;
    color        : #fff;
    transform    : translate(-50%, -50%);

    h4 {
      font-family: $fontKaushan;
    }
  }
}

// ---------- Article ----------
article {
  display        : flex;
  justify-content: center;
  padding-top    : 70px;

  .article-right {
    h2 {
      color    : $primaryColor;
      font-size: 40px;
    }

    h4 {
      color: $secondaryColor;
      font : 30px $fontKaushan;
    }

    p {
      line-height: 40px;
      color      : $fontColor;
      font-size  : 20px;
    }

    button {
      @include btn;
    }
  }
}

// ---------- Main/Promotions ----------
main {
  .triangle {
    @include triangle;
  }

  .promotions-container {
    width           : 100%;
    background-color: $secondaryColor;

    .promo-top {

      .promo-titles {
        display    : flex;
        align-items: center;

        h1 {
          flex       : 1;
          color      : $primaryColor;
          font-weight: 900;
        }

        button {
          @include btn;
          width           : 200px;
          background-color: #fff;
          color           : $fontColor;

          &:hover {
            background-color: $primaryColor;
            color           : #fff;
          }
        }
      }

      h4 {
        margin: 0;
        color : #fff;
        font  : 30px $fontKaushan;
      }
    }

    .promo-items {
      margin-top: 20px;

      ul {
        display        : flex;
        justify-content: center;
        flex-wrap      : wrap;
        width          : 100%;
        margin         : 0;
        padding        : 0;

        li {
          position        : relative;
          width           : 30%;
          height          : 200px;
          margin          : 10px;
          border-radius   : 15px;
          background-color: #f2f3ed;

          a {
            display: flex;
            margin : 20px;

            .promo-img {

              img {
                width: 90%;
              }
            }

            .promo-product {
              width     : 70%;
              margin-top: -15px;

              h3 {
                color: $primaryColor;
              }

              p {
                color: $fontColor;
              }
            }
          }

          @mixin circle {
            position     : absolute;
            width        : 0;
            height       : 0;
            border       : 5px solid $secondaryColor;
            border-radius: 50%;
          }

          .circle-tr {
            @include circle;
            top  : 10px;
            right: 10px;
          }

          .circle-br {
            @include circle;
            bottom: 10px;
            right : 10px;
          }

          .circle-tl {
            @include circle;
            top : 10px;
            left: 10px;
          }

          .circle-bl {
            @include circle;
            bottom: 10px;
            left  : 10px;
          }

          .price-tag {
            position: absolute;
            bottom  : -60px;
            right   : -200px;

            .price {
              position   : absolute;
              top        : 30px;
              left       : 15px;
              color      : #fff;
              font-weight: 700;
              font-size  : 28px;
              transform  : rotate(-10deg);
            }

            img {
              width: 50%;
            }
          }
        }
      }
    }
  }

  .triangle-reverse {
    @include triangle-reverse;
  }
}

// ---------- Info ----------
.board {
  display: flex;

  h3 {
    color: $primaryColor;
  }

  h5 {
    color: $secondaryColor;
  }

  p {
    color: $fontColor;
  }

  ul {
    display: flex;
    padding: 0;

    li {
      flex   : 1;
      padding: 30px 0;
    }
  }

  .news {
    position: relative;
    flex    : 2;
  }

  .job {
    position: relative;
    flex    : 1;
  }


  button {
    @include btn;
    position: absolute;
    bottom  : -50px;
  }
}

// ----------Footer ----------
.footer-container {
  padding-bottom: 60px;
}

footer {
  background-color: #e6e7e0;
  color           : $fontColor;

  .triangle {
    @include triangle-reverse;
    border-color: $backgroundColor transparent transparent transparent;
  }

  .footer-top {
    display        : flex;
    justify-content: space-between;
    margin         : 50px 0;

    img {
      vertical-align: bottom;
      width         : 45px;
    }

    span:nth-child(n+2) {
      display    : inline-block;
      margin-left: 15px;
    }

    .email {
      position: relative;

      input {
        position        : absolute;
        top             : 0;
        right           : 0;
        width           : 500px;
        height          : 50px;
        padding-left    : 30px;
        border          : 1px solid $fontColor;
        border-radius   : 25px;
        outline         : 0;
        background-color: $backgroundColor;
      }

      button {
        position        : absolute;
        top             : 70%;
        right           : 10px;
        width           : 100px;
        height          : 30px;
        line-height     : 30px;
        border-radius   : 50px;
        border          : 0;
        background-color: $fontColor;
        color           : #fff;
        transform       : translateY(-50%);
        cursor          : pointer;

        &:hover {
          background-color: $secondaryColor;
        }
      }
    }


  }

  .footer-bottom {
    display        : flex;
    justify-content: space-between;

    @mixin media-icon {
      display   : inline-block;
      width     : 30px;
      height    : 25px;
      background: url(../img/icon/icon-social-media@2x.png) no-repeat;

      &:hover {
        background-position-y: -48px;
      }
    }

    .facebook {
      @include media-icon;
      background-position: -14px -6px;
    }

    .twitter {
      @include media-icon;
      background-position: -50px -6px;
    }

    .google {
      @include media-icon;
      background-position: -86px -6px;
    }

    .pinterest {
      @include media-icon;
      background-position: -124px -6px;
    }
  }
}

@import "media";
